.whole {
  background-color: rgb(56, 56, 56);
}

.banner {
  background-color: rgb(56, 56, 56);
  padding: 25px 0px 10px 0px;
  margin: auto 100px auto 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner_title {
  color: rgb(204, 204, 204);
  margin: 3px auto 3px 30px;
  font-size: 30px;
}

.banner_click {
  align-items: right;
  color: rgb(204, 204, 204);
  margin: 10px 30px 3px auto;
  font-size: 20px
}

.line{
  border-style: solid;
  color: rgb(204, 204, 204);
  border-width: 3px;
  margin: 0px 130px 0px 100px;
}

.content {
  background-color: rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputSection {
  margin-top: 100px;
  margin-bottom: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letters {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
